<div class="container">
  <div class="form-header">
    <h1>Book a Flight</h1>
    <hr/>
  </div>
  <div class="form-body">
    <form [formGroup]="flightForm">
      <div class="Enter-name">
        <mat-form-field hintLabel="Max 20 characters" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput #input maxlength="20" placeholder="Full name"  formControlName="fullName" >
          <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="flightForm.get('fullName')?.errors?.['required']">required</mat-error>
          <mat-error *ngIf="flightForm.get('fullName')?.errors?.['pattern']">must be characters!</mat-error>
        </mat-form-field>
      </div>
      <div class="Enter-select">
        <div class="Enter-from">
          <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <mat-select formControlName="from" required [ngModel]="flight.from">
              <mat-option *ngFor="let Location of location" [value]="Location.name">{{Location.name}}</mat-option>
            </mat-select>
            <mat-hint align="end">select country</mat-hint>
            <mat-error *ngIf="flightForm.get('from')?.errors?.['required']">required</mat-error>
          </mat-form-field>
        </div>
        <div class="Enter-to">
          <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <mat-select formControlName="to" required [ngModel]="flight.to">
              <mat-option *ngFor="let Location of location" [value]="Location.name">{{Location.name}}</mat-option>
            </mat-select>
            <mat-hint align="end">select country</mat-hint>
            <mat-error *ngIf="flightForm.get('to')?.errors?.['required']">required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="Enter-RadioDate">
        <div class="Enter-radio">
          <div>
            <label>Trip Type</label>
          </div>
          <div>
            <mat-radio-group formControlName="type" color="primary">
              <mat-radio-button value="Oneway">One way</mat-radio-button>
              <mat-radio-button value="Return">Return</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- Date -->
        <div class="Enter-Date">

          <div class="row row-cols-sm-auto">
            <div class="col-12">
              <label>Departure</label>

              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input name="datepicker"
                         class="form-control"
                         ngbDatepicker
                         #datepicker="ngbDatepicker"
                         [autoClose]="'outside'"
                         (dateSelect)="onDateSelection($event)"
                         [displayMonths]="2"
                         [dayTemplate]="t"
                         outsideDays="hidden"
                         [minDate] = "{year:calendar.getToday().year,month:calendar.getToday().month,day:calendar.getToday().day}"
                         [startDate]="flightForm.value.departure!"
                         tabindex="-1">
                  <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
                  </ng-template>
                </div>
              </div>
              <div class="input-group">
                <input #dpFromDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpFromDate"
                       [value]="formatter.format(flightForm.value.departure)"
                       [value]="formatter.format(flight.departure)"
                       (input)="flightForm.value.departure = validateInput(flightForm.value.departure, dpFromDate.value)">
                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
            <div class="col-12">
              <label>Arrival</label>
              <div class="input-group">
                <input #dpToDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpToDate"
                       [value]="formatter.format(flightForm.value.arrival)"
                       [value]="formatter.format(flight.arrival)"
                       (input)="flightForm.value.arrival = validateInput(flightForm.value.arrival, dpToDate.value)">
                <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>








      <!---------->
      <div class="Enter-Passenger">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Adults</mat-label>
            <input matInput placeholder="Enter number"  formControlName="adults" min="1">
            <mat-hint>at least 1 person</mat-hint>
            <mat-error *ngIf="flightForm.get('adults')?.errors?.['required']">required</mat-error>
            <mat-error *ngIf="flightForm.get('adults')?.errors?.['min']">at least 1 person</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Children</mat-label>
            <input matInput placeholder="Enter number" formControlName="children" min="0">
            <mat-error *ngIf="flightForm.get('children')?.errors?.['min']">at least 0</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Infants</mat-label>
            <input matInput placeholder="Enter number" formControlName="infants" min="0">
            <mat-error *ngIf="flightForm.get('infants')?.errors?.['min']">at least 0</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="form-submit">
    <button mat-raised-button color="primary" [disabled]="flightForm.invalid" (click)="toggleElement()">Submit</button>
  </div>
  <div >
    <table  class="dataTable">
      <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Adults</th>
        <th>Children</th>
        <th>Infants</th>
        <th>Departure</th>
        <th>Arrival</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let f of flights">
        <td>{{f.fullName}}</td>
        <td>{{f.from}}</td>
        <td>{{f.to}}</td>
        <td>{{f.type}}</td>
        <td>{{f.adults}}</td>
        <td>{{f.children}}</td>
        <td>{{f.infants}}</td>
        <td>{{formatter.format(f.departure)}}</td>
        <td>{{formatter.format(f.arrival)}}</td>
      </tr>
      </tbody>
    </table>
  </div>

<!--  </div>-->
</div>
